/* page setup
--------------------------------
*/

:root {
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #78716c, #645c5b, #4e494a, #393739, #262626);
}

/* header
--------------------------------
*/

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e4e4e7;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    display: flex;
    gap: 20px;
}

.name {
    margin-left: 10px;
}

.navigation {
    margin-right: 10px;
}